:root {
    --background-color: #222;
    --primary-color: #3232d8;
}

* {
    touch-action: none;
}

body {
    background-color: #222;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

button {
    margin-bottom: 0.8em;
}

div#game_container {
    position: relative;
    margin: 0.5em;
}

div#debug_container {
    flex: 1;
    color: white;
    padding: 1em;
}

canvas#board_canvas {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff1;
    /* border-color: #555;
    border-style: solid;
    border-width: 1px; */
    border-radius: 5px;
}

span#score {
    position: absolute;
    margin: 1.2em;
    color: white;
    font-size: 3em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-shadow: #bfda 1px 1px 5px;
}

button#help {
    position: absolute;
    margin: 3.6em;
    top: 7em;
}

.ai button#help {
    visibility: hidden;
}

canvas.piece_canvas {
    position: absolute;
}

canvas.piece_canvas.auto-animate {
    transition-property: transform;
    transition-timing-function: cubic-bezier();
}

div.screen {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 11;
}

div#start_screen {
    background-color: var(--background-color);
}

div#game_over_screen {
    background-color: #222b;
}
